@{
    ViewData["Title"] = "Home";
}

<style>
    .welcome-text {
        text-align: center;
        color: blue;
        padding-top: 150px;
        font-size: 4.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    .logo-container {
        text-align: center;
    }
</style>

<div class="welcome-text">Seat Reservation System</div>
<div class="logo-container">
    <img src="~/images/SLT-LOGO.png" alt="Logo" />
</div>
